<!DOCTYPE html>

<html lang="en" manifest="/Handlers/Manifest.ashx">

    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - MegaMemo</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <header>
            <canvas id="logo" width="500" height="100"></canvas>
        </header>
        
        @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/app")
    </body>
</html>
