<!DOCTYPE html>

@*<html lang="en" manifest="/Handlers/Manifest.ashx">*@
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - MegaMemo</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/styleBundles/bootstrap")
        @Styles.Render("~/styleBundles/style")
    </head>
    <body>
        <header>
            <canvas id="logo" width="500" height="100"></canvas>
        </header>
        
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <!--<div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>-->

    </div>

        @RenderBody()

        @Scripts.Render("~/scriptBundles/jquery")
        @Scripts.Render("~/scriptBundles/knockout")
        @Scripts.Render("~/scriptBundles/bootstrap")
        @Scripts.Render("~/scriptBundles/app")
    </body>
</html>
