@{
    ViewBag.Title = "Home Page";
}

@RenderPage("DecksList.cshtml")
@RenderPage("EditDeck.cshtml")
@RenderPage("StudyList.cshtml")
@RenderPage("StudyDeck.cshtml")

<!--
@foreach (var p in OAuthWebSecurity.RegisteredClientData)
{
    <button type="submit" name="provider" value="@p.AuthenticationClient.ProviderName" title="Log in using your @p.DisplayName account">@p.DisplayName</button>
}
-->

@*@Html.Partial("_Login")

@Html.Action("ExternalLoginsList", "Account", new { ReturnUrl = ViewBag.ReturnUrl });

@Html.Partial("_Register")*@